<div class="login-container">
  <form [formGroup]="loginForm" class="form-container">
    <label>Real Manager</label>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Email" type="email" />
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <input matInput placeholder="Password" type="password"/>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit">Sign in</button>
  </form>
  <a mat-button color="primary" routerLink="/signup"  routerLinkActive="active">Sign up</a>
</div>
