<section class="container-header">
    <span class="logo-real-manager">Real Manager</span>
    <div>
        <button mat-raised-button color="primary" routerLink="./league"  routerLinkActive="active">League</button>
        <button mat-raised-button color="primary" routerLink="./squad"  routerLinkActive="active">Squad</button>
        <button mat-raised-button color="primary" routerLink="./matches"  routerLinkActive="active">Matches</button>
        <button mat-raised-button color="primary" routerLink="/login"  routerLinkActive="active">Sign out</button>
    </div>
</section>
<router-outlet></router-outlet>