<section class="container-header">
    <span class="logo-real-manager">Real Manager</span>
    <nav>
        <button mat-button color="primary" routerLink="./league" routerLinkActive="active">
            <div class="footer__button">
                <mat-icon svgIcon="assessment" aria-hidden="false" aria-label="League table"></mat-icon>
                <ng-container i18n>League</ng-container>
            </div>
        </button>
        <button mat-button color="primary" routerLink="./squad" routerLinkActive="active">
            <div class="footer__button">
                <mat-icon svgIcon="account-box" aria-hidden="false" aria-label="League table"></mat-icon>
                <ng-container i18n>Squad</ng-container>
            </div>
        </button>
        <button mat-button color="primary" routerLink="./matches" routerLinkActive="active">
            <div class="footer__button">
                <mat-icon svgIcon="calendar-view-day" aria-hidden="false" aria-label="League table"></mat-icon>
                <ng-container i18n>Matches</ng-container>
            </div>
        </button>
        <button mat-button color="primary" (click)="logout()">
            <div class="footer__button">
                <mat-icon svgIcon="keyboard-capslock" aria-hidden="false" aria-label="League table"></mat-icon>
                <ng-container i18n>Log out</ng-container>
            </div>
        </button>
    </nav>
</section>
<router-outlet></router-outlet>
<div style="height: 10%;"></div>
<nav class="container-footer">
    <button mat-button color="primary" routerLink="./league" routerLinkActive="active">
        <div class="footer__button">
            <mat-icon svgIcon="assessment" aria-hidden="false" aria-label="League table"></mat-icon>
            League
        </div>
    </button>
    <button mat-button color="primary" routerLink="./squad" routerLinkActive="active">
        <div class="footer__button">
            <mat-icon svgIcon="account-box" aria-hidden="false" aria-label="League table"></mat-icon>
            Squad
        </div>
    </button>
    <button mat-button color="primary" routerLink="./matches" routerLinkActive="active">
        <div class="footer__button">
            <mat-icon svgIcon="calendar-view-day" aria-hidden="false" aria-label="League table"></mat-icon>
            Matches
        </div>
    </button>
    <button mat-button color="primary" (click)="logout()">
        <div class="footer__button">
            <mat-icon svgIcon="keyboard-capslock" aria-hidden="false" aria-label="League table"></mat-icon>
            Log out
        </div>
    </button>
</nav>