.section-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 20px 10%;

    .matches-table {
        min-width: 300px;
        width: 40%;

        .resumo-partida {
            display: flex;
            justify-content: space-between;
        }


        .match-button {
            width: 100%;
        }
    }
}