<section class="section-container">
    <h1 class="title">Matches</h1>
    <table mat-table class ="matches-table" [dataSource]="matchesDataSource">
    
        <ng-container matColumnDef="matchSum">
            <th mat-header-cell *matHeaderCellDef>
                <div class="resumo-partida">
                    <span>Home Team</span>
                    <span>Final Result</span>
                    <span>Away Team</span>
                </div>
            </th>
            <td mat-cell *matCellDef="let element" >
                <button mat-button class="match-button">
                    <div class="resumo-partida">
                        <span>{{element.homeTeam}}</span>
                        <span>{{element.homeGoals}} : {{element.awayGoals}}</span>
                        <span>{{element.awayTeam}}</span>
                    </div>
                </button>
            </td>
        </ng-container>    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" [routerLink]="['./', row.id]"></tr>
    </table>
</section>
